<<<<<<< HEAD
body{
    font-size:3em;
}
=======
<<<<<<< HEAD
body {
    
    font-size: 3em

}

trainTable {
    border: 1px solid black;
    border-collapse: collapse;
	font-size: 19px;
	
}
=======
body{
    font-size:3em;
}
>>>>>>> ab1aa2dc12b5b08bec94680ec6157f16a0b7331b
>>>>>>> 67b4e50cb460ed0bc082a93472f1ff754f937e23
